extends layout

block content
  #navBar
    p New Game
    cancelUrl = '/user/' + accountId
    a(href=cancelUrl)
      button.leftNavButton Cancel
    a#startbutton
      button.rightNavButton Start
  formUrl = '/user/' + accountId + '/game/new'
  form( action=formUrl, method="POST")
    fieldset
      label(for="meme") Meme to play
      select(name="meme", id="memeselect")
        each meme in memes
          option(value=meme) #{meme}
      label(for="difficulty") Difficulty
      select(name="difficulty", id="diffulty")
        option(value="Tutorial") Tutorial
        option(value="Easy") Easy
        option(value="Normal") Normal
        option(value="Hard") Hard

  script.
    $(document).ready( function() {
        $('#startbutton').click( function() {
            $('form').submit();
        });
    });